.Tooltip *{
  line-height: 1.42857143;
  box-sizing: border-box;
}

.Tooltip button {
  color: white;
  border: 1px solid #2E2F2F;
  background-image: linear-gradient(#4F5151, #474949 6%, #3F4141);
  background-color: white;
  border-color: #474949;
  line-height: 1;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 90%;
  font-weight: 400;
  height: 23px;
  width: auto;
}

.Tooltip .buttonBar {
  margin-top: 3px;
  position: static;
}

.Tooltip button.active {
  background-image: linear-gradient(#ffa500, #ff9523 6%, #fc8014);
}

.Tooltip button:disabled {
  border: 1px solid #2E2F2F;
  color: #eee;
  background-color: #ffa500;
  background-image: none;
  cursor: not-allowed;
}

.Tooltip .input {
  line-height: 1;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 90%;
  height: 23px;
  color: black;
  background-color: #F0F0F0;
  border: 1px solid #797979;
  width: 47%;
  text-align: center;
  cursor: text;
}

.Tooltip .biggId {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Tooltip .name {
  height: 21px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Tooltip .interfacePanel {
  flex-direction: column;
  width: 100%;
}

.Tooltip .labels, .Tooltip .inputPanel, .Tooltip .buttonBar, .Tooltip .interfacePanel {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.Tooltip .slider {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-self: center;
}
